@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI Emoji','Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f4f5f7;
  color: rgb(var(--foreground-rgb));
  line-height: 1.5;
  background-repeat: no-repeat;
  background: linear-gradient(
      135deg,
      #E6E2EF,
      #ffffff,
      #E6E2EF
    );
  background-attachment: fixed;
  background-size: cover;
}

#root {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

// Accesibilidad
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Scroll personalizado
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #c8b6ff,
    #e1dcee
  );
  border-radius: 10px;
  border: 2px solid white;
  background-size: 100% 100%;
  background-position: top;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5c1d4;
}
